<div class="container">
  <h2 class="form-title" [ngClass]="{ 'failed-text': error }">
    {{ !error ? "Login" : "Login failed." }}
  </h2>
  <div class="error-message" *ngIf="error">
    {{ errorMessage }}
  </div>
  <form
    class="form"
    (ngSubmit)="onSignup(signupForm.value)"
    [formGroup]="signupForm"
  >
    <div class="form-username">
      <label for="email">Username <span class="condition">*</span></label>
      <input type="text" id="username" formControlName="username" />
      <small class="alert-message" *ngIf="username.invalid && username.touched">
        <div *ngIf="username.errors.required">Username is required.</div>
      </small>
    </div>
    <div class="form-email">
      <label for="email">Email <span class="condition">*</span></label>
      <input type="email" id="email" formControlName="email" />
      <small class="alert-message" *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">Invalid email type.</div>
      </small>
    </div>
    <div class="form-password">
      <label for="password">Password <span class="condition">*</span></label>
      <input type="password" id="password" formControlName="password" />
      <small class="alert-message" *ngIf="password.invalid && password.touched">
        <div *ngIf="password.errors.required">Password is required.</div>
        <div *ngIf="password.errors.minlength">
          Password is required minimum
          {{ password.errors.minlength.requiredLength }} characters.
        </div>
      </small>
    </div>
    <button
      [disabled]="signupForm.invalid"
      [ngClass]="{ disabled: signupForm.invalid }"
      class="form-btn"
    >
      Register
    </button>
  </form>
  <div class="auth-nav">
    <button [routerLink]="['/login']" class="auth-nav-btn">
      Back to Login
    </button>
  </div>
</div>
