// COLOR VARIABLES
$primary: #282c34;
$primary-dark: #20232a;
$primary-light: #586172;

$secondary: #61fbc0;
$warning: #ffe564;
$danger: #ff6464;
$success: #50d156;

$grey-light: #f7f7f7;
$grey: #999;
$grey-dark: #6d6d6d;
