<!-- <div class="loading-spinner" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div> -->

<div class="container">
  <h3 class="success-message" *ngIf="isSubmitted">Email has been submitted.</h3>
  <form
    class="form"
    (ngSubmit)="onReset(resetForm.value)"
    [formGroup]="resetForm"
  >
    <div class="form-email">
      <label for="email">Your email address</label>
      <input type="email" id="email" formControlName="email" />
      <small class="alert-message" *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">Invalid email type.</div>
      </small>
    </div>
    <button class="form-btn">Send</button>
  </form>
  <div class="auth-nav">
    <button class="auth-nav-btn" [routerLink]="['/login']">
      Back to Login
    </button>
  </div>
</div>
