@import "../../app.component.scss";
.create-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .create-post {
    position: relative;
    margin: 0 auto;
    z-index: 10;
    max-width: 700px;
    height: 500px;
    padding: 20px 40px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .post-title,
    .post-body {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    label {
      font-weight: 600;
      margin-bottom: 8px;
      margin-left: 6px;
    }

    .title,
    .body {
      font-size: 1rem;
      border: 1px solid rgb(197, 197, 197);
      border-radius: 6px;
      padding: 10px 20px;
      outline: none;
    }

    .title[type="text"]:focus,
    .body:focus {
      transition: all 0.2s;
      box-shadow: 0 0 5px #1170be;
      border: 1px solid #1170be6e;
    }

    .post-btn {
      border: 1px solid $primary-light;
      border-radius: 6px;
      background-color: $primary-light;
      color: #fff;
      padding: 8px;
      margin-top: 12px;
      font-size: 16px;
      outline: none;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        border: 1px solid $primary-light;
        background-color: #fff;
        color: $primary-light;
      }
    }

    .disabled {
      border: 1px solid $grey;
      background-color: $grey;
      cursor: not-allowed;
      &:hover {
        border: 1px solid $grey;
        background-color: $grey;
        color: $grey-light;
      }
    }

    .cancel-btn {
      position: absolute;
      top: 12px;
      right: 16px;
      border: none;
      background-color: #fff;
      color: #555;
      padding: 6px;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      transition: all 0.2s;
      &:hover {
        color: $secondary;
      }
    }
  }
}
