<div class="search">
  <input class="search-bar" type="text">
  <button class="search-btn"><i class="fas fa-search"></i></button>
</div>

<div class="container">
  <ul class="posts">
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
    <li class="posts-item">
      <h3 class="posts-title">
        <!-- <span>{{post.id}}</span> -->
        asdfdasfasf
      </h3>
      <p class="posts-body">dssdfsdf</p>
      <button class="del-btn" (click)="onDelete()"><i class="far
          fa-trash-alt"></i></button>
    </li>
  </ul>
  <button class="add-btn" (click)="onCreate()">
    <i class="fas fa-plus"></i>
  </button>

</div>
