@import "../app.component.scss";

.posts {
  position: relative;

  .search {
    position: relative;
    height: 96px;
    margin-top: 60px;
    background-color: $primary;
    position: fixed;
    top: 0px;
    width: 100vw;
    // flex: 0 10% 40%;
    display: grid;
    grid-template-columns: 1fr minmax(5rem, 50%) 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &-bar {
      grid-column: 2 /3;
      grid-row: 1;
      height: 40px;
      width: 100%;
      padding: 10px 30px;
      color: $grey-light;
      font-size: 1rem;
      background: $primary-light;
      border-radius: 6px;
      border: 1px solid $primary-dark;
      transition: all 0.2s;
      &:focus {
        outline: none;
        // width: 100%;
      }
    }
    &-btn {
      grid-column: 2/3;
      grid-row: 1;
      outline: none;
      border: none;
      justify-self: end;
      margin-right: 1.5rem;
      background: none;
      font-weight: 600;
      font-size: 1.1rem;
      color: $primary-dark;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: $secondary;
      }
    }
  }

  .post-list {
    max-width: 700px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .add-btn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    font-size: 30px;
    color: $primary;
    background-color: #24fdaa;
    border-radius: 50%;
    border: none;
    padding: 12px 18px;
    box-shadow: 0px 5px 18px #469c67;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-4px);
      filter: brightness(90%);
    }
  }
}
